

.contact {
    position: relative;
    top: 8rem;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    padding: 2rem 1rem;
    background-color: #404040;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .contact {
        position: relative; /* Ensure relative positioning */
        left: 50%; /* Move left by half of its own width */
        transform: translateX(-50%); /* Center horizontally */
        width: 70%; /* Adjust width as needed */
        padding: 2rem; /* Adjust padding for smaller screens */
        max-width: 100%; /* Ensure it stretches to the viewport */
    }

    .contact form .input-box input {
        flex: 1 1 100%; /* Full width for input on smaller screens */
        margin-bottom: 1rem; /* Increase spacing between fields */
    }

    .contact form textarea {
        height: 80px; /* Adjusted height for smaller screens */
        margin-top: 1.5rem; /* Increased spacing from above input */
    }
}


.contact h2 {
    color: #c2a76b;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.contact form {
    background-color: #373434;
    padding: 2rem;
    border-radius: 8px;
}

.contact form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.contact form .input-box input,
.contact form textarea {
    padding: 1rem;
    font-size: 1rem;
    background: white;
    color: black;
    border: 1px solid #c2a76b;
    border-radius: 8px;
    width: 100%;
}

.contact form .input-box input {
    flex: 1 1 calc(50% - 0.5rem); /* Maintain current width calculation */
}

.contact form textarea {
    width: 95.5%; /* Maintain current width calculation */
    margin-top: 1rem; /* Increase spacing from above input */
}

.contact form .btn {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    background-color: #c2a76b;
    color: #373434;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form .btn:hover {
    background-color: #e0c490;
}

#contact-footer-copyright-text {
    top: 9.5rem;
}

