
.gallery {
    position: relative;
    top: 10rem;
    max-width: 1400px; /* Set a maximum width for the gallery if needed */
    margin: 0 auto; /* Center the gallery */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px;
    background: white; /* Adjust the background properties as needed */
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 0.8s ease-in-out;
    transform: scale(0.2);
}

.gallery-item.fade-in {
    opacity: 1;
    transform: scale(1);
}

.gallery-item:hover {
    transform: scale(1.1); /* Increase the size on hover */
    box-shadow: 0 8px 24px #baa94a; /* Add a subtle box shadow for the glow effect */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transitions for smooth animation */
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Footer Container */
.contact-me-container {
    position: relative;
    top: 100rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("microblading-footer.jpg") no-repeat center center;
    background-size: cover;
    background-position: 70%;
    height: 40rem;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

/* Footer Heading */
.contact-me-container h1 {
    position: relative;
    top: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Footer Paragraph */
.contact-me-container p {
    position: relative;
    top: 10rem;
    font-size: 1.2rem;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0 2rem;
}

/* Horizontal Line */
.contact-me-container hr {
    border: 0;
    border-top: 1px solid #c2a76b;
    margin: 2rem auto;
    width: 80%;
}

/* Social Media Icons Container */
.contact-me-container .social-media {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-me-container .social-media a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contact-me-container .social-media a:hover {
    color: #c2a76b;
}

.contact-button-footer{
    position: relative;
    top: 80rem;
    left: 42rem;
    background-color: #0f0f0f;
    color: white;
    height: 7rem;
    width: 12rem;
    font-size: 25px;
    font-family: times, serif;
    z-index: 1;
}

.contact-button-footer:hover {
    background-color: #c1b46c;
    transition: 0.7s;
}

.contact-button-footer:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px black;
    transition: 0.9s;
}

.contact-button-footer:active {
    background-color: #baa94a;
}
