/* Base styles for review cards */
.reviews {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 5% 20px;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}

.leave-review {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Media query to adjust margin when navbar wraps */
@media screen and (max-width: 1080px) and (min-width: 800px){
    .leave-review {
        padding-top: 70px;
    }
}

.leave-review h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #c2a76b;
    margin-bottom: 1rem;
    font-family: 'Spectral', serif;
}

.leave-review a {
    color: #c2a76b;
    text-decoration: underline;
}

.review-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add space between rows */
}

.review-card {
    border: 1px solid #c2a76b;
    border-radius: 12px;
    flex: 1 1 calc(25% - 20px); /* Four cards per row on larger screens */
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
    min-height: 390px;
    background: linear-gradient(to bottom right, #1e1e1e, #444);
    color: white;
    margin-bottom: 20px;
}

.review-card:hover {
    transform: translateY(-8px);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.review-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #c2a76b;
}

.review-info {
    flex-grow: 1;
}

.review-info h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.review-rating {
    display: flex;
    align-items: center;
}

.review-rating .fa-star {
    font-size: 24px;
    color: gold;
    margin-right: 8px;
}

.review-text {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0;
}

.review-year {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}

/* Adjusted styles for medium screens */
@media screen and (max-width: 1300px) {
    .review-card {
        flex: 1 1 calc(33% - 20px);
        border: 1px solid #c2a76b;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        transition: transform 0.2s ease-in-out;
        min-height: 390px;
        background: linear-gradient(to bottom right, #1e1e1e, #444);
        color: white;
        margin-bottom: 20px;
    }


    .review-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
    }

}

/* Adjusted styles for smaller screens */
@media screen and (max-width: 469px) {
    .review-card {
        flex: 1 1 calc(100% - 20px); /* One card per row */
    }

    .review-row {
        display: block;
        gap: 0;
        margin-bottom: 0;
    }
}
