.he1 {
  border-style: double;
  border-width: 17px;
  border-block-color: #ecdb7e;
}

.booking-button-homepage{
  position: absolute;
  top: 50rem;
  left: 41.5rem;
  background-color: #0f0f0f;
  color: white;
  height: 7rem;
  width: 12rem;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.booking-button-homepage:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.booking-button-homepage:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.booking-button-homepage:active {
  background-color: #baa94a;
}

.Social_media_icons {
  position: absolute;
  z-index: 1;
}

.why-jaclyn {
  position: absolute;
  top: 32.16vw;
  height: 29vw;
  background-color: white;
  color:  black;
  font-size: 20px;
  text-align: center;
}

.why-jaclyn h1 {
  color: #c2a76b;
  font-size: 29px;
}

.why-jaclyn h2 {
  color: black;
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
}

.why-jaclyn p {
  color: grey;
}

.who-can-benefit-information {
  position: absolute;
  background-color: white;
  text-align: center;
  font-size: 20px;
  width: 49vw;
  height: 34vw;
  top: 63vw;
  left: 49.2vw;
}

.who-can-benefit-information h1 {
  color: #c2a76b;
  font-size: 29px;
}
.who-can-benefit-information h2 {
  color: black;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

.who-can-benefit-information p {
  position: absolute;
  color: grey;
  top: 14vw;
  left: 1rem;
  width: 47vw;
}

.who-can-benefit-information img {
  position: absolute;
  right: 55rem;
  top: 0.75rem;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.who-can-benefit-information .learn-more-button{
  position: absolute;
  top: 24.4rem;
  left: 18.3rem;
  background-color: #0f0f0f;
  color: white;
  height: 7rem;
  width: 12rem;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.who-can-benefit-information .learn-more-button:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.who-can-benefit-information .learn-more-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.who-can-benefit-information .learn-more-button:active {
  background-color: #baa94a;
}

.healing-process-information {
  position: absolute;
  background-color: white;
  top: 100vw;
  left: 0.95vw;
  text-align: center;
  font-size: 20px;
  width: 740px;
  height: 500px;
}

.healing-process-information h1 {
  color: #c2a76b;
  font-size: 29px;
}

.healing-process-information h2 {
  color: black;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

.healing-process-information p {
  position: absolute;
  color: grey;
  background-color: white;
  top: 10rem;
  left: 1vw;
  text-align: center;
  font-size: 20px;
  width: 43.5rem;
  height: 10rem;
}

.healing-process-information img {
  position: absolute;
  top: 0.5vw;
  left: 53vw;
}

.healing-process-information .learn-more-button{
  position: absolute;
  top: 23rem;
  left: 17.3rem;
  background-color: #0f0f0f;
  color: white;
  height: 7rem;
  width: 12rem;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.healing-process-information .learn-more-button:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.healing-process-information .learn-more-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.healing-process-information .learn-more-button:active {
  background-color: #baa94a;
}

.a1 {
  position: absolute;
  color: black;
  text-decoration: none;
  left: 150px;
  top: 70px;
  font-size: 30px;
  font-weight: 700;
}

.a2 {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 70px;
  left: 350px;
  font-size: 30px;
  font-weight: 700;
}

.a3 {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 70px;
  left: 1050px;
  font-size: 30px;
  font-weight: 700;
}

.a4 {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 70px;
  left: 1250px;
  font-size: 30px;
  font-weight: 700;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: hidden;
  width: 104vw;
  height: 50vw;
  top: 6vw;
  right: 30vw;
  position: relative;
  scroll-snap-type: x mandatory;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: relative;
  top: -2900px;
  left: 600px;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  cursor: pointer;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a.active {
  background-color: #333;
}

.reviews {
   display: flex;
   justify-content: space-between;
   position: relative;
   top: 1300px; /* Adjust position as needed */
   align-items: flex-start;
   overflow-x: auto;
   padding: 20px 0;
   gap: 20px; /* Add spacing between cards */
 }

.review-card {
  background-color: #ffffff; /* Slightly darker background for contrast */
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%; /* Adjust width to make cards wider */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Deeper shadow for better contrast */
  transition: transform 0.2s ease-in-out;
  min-height: 300px; /* Set minimum height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card:hover {
  transform: translateY(-5px);
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.review-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.review-info h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.review-text {
  color: grey;
}

.review-rating {
  display: flex;
  align-items: center;
  color: #ffc107;
  margin-bottom: 8px;
}

.review-rating .fa-star {
  font-size: 20px;
  color: #ccc;
  margin-right: 5px;
}

.review-rating .fa-star.checked {
  color: #ffc107;
}

.review-text {
  font-size: 14px;
  line-height: 1.5;
  color: #665;
  margin-top: 10px;
  flex-grow: 1;
}


.contact-location {
  background-color: #ffffff;
  padding: 20px 0;
  position: relative;
  top: 1400px;
  color: black;
}

.contact-location .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: black;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-location h1 {
  color: #c2a76b;
  font-size: 29px;
}

.contact-location h2 {
  color: black;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

.map-container {
  margin-bottom: 10px;
}

#homepage-footer-container {
  top: 97rem;
}

#homepage-footer-button {
  top: 85rem;
}

#homepage-footer-copyright-text {
  top: 94.5rem;
}