body {
  background-color: #373434;
  width: 101%;
  margin: 0;
  
}

.header{
  position: fixed;
  width: 100%;
  padding: 2rem 9%;
  background: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header.sticky {
  border-bottom: 1rem solid rgb(123, 123, 123, 1);;
}

.logo{
  font-size: 2.5rem;
  color: white;
  cursor: default;
  align-items: center;
  justify-content: center;

}

.navbar a {
  font-size: 1.7rem;
  color: white;
  margin-left: 4rem;
  transition: .3s;
}

.he1 {
  border-style: double;
  border-width: 17px;
  border-block-color: #ecdb7e;
}

.booking-button-homepage{
  position: absolute;
  top: 43%;
  left: 43%;
  background-color: #0f0f0f;
  color: white;
  height: 100px;
  width: 200px;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.booking-button-homepage:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.booking-button-homepage:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.booking-button-homepage:active {
  background-color: #baa94a;
}

.Social_media_icons {
  position: absolute;
  z-index: 1;
}

.why-jaclyn {
  position: absolute;
  top: 32.16vw;
  background-color: white;
  color:  black;
  font-size: 20px;
  text-align: center;
  padding: 70px
}

.why-jaclyn h1 {
  color: #d04416;
  font-size: 29px;
}

.why-jaclyn h2 {
  color: black;
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
}

.why-jaclyn p {
  color: grey;
}

.who-can-benefit-information {
  position: absolute;
  background-color: white;
  text-align: center;
  font-size: 20px;
  width: 49vw;
  height: 34vw;
  top: 63vw;
  left: 48vw;
}

.who-can-benefit-information h1 {
  color: #d04416;
  font-size: 29px;
}
.who-can-benefit-information h2 {
  color: black;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

.who-can-benefit-information p {
  color: grey;
}

.who-can-benefit-information img {
  position: absolute;
  right: 55vw;
  top: 0.75vw;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.who-can-benefit-information .learn-more-button{
  position: absolute;
  top: 43%;
  left: 43%;
  background-color: #0f0f0f;
  color: white;
  height: 100px;
  width: 200px;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.who-can-benefit-information .learn-more-button:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.who-can-benefit-information .learn-more-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.who-can-benefit-information .learn-more-button:active {
  background-color: #baa94a;
}

.healing-process-information {
  position: absolute;
  background-color: white;
  top: 100vw;
  left: 2vw;
  text-align: center;
  font-size: 20px;
  width: 740px;
  height: 500px;
}

.healing-process-information h1 {
  color: #d04416;
  font-size: 29px;
}

.healing-process-information h2 {
  color: black;
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
}

.healing-process-information p {
  position: absolute;
  background-color: white;
  top: 1550px;
  text-align: center;
  font-size: 20px;
  width: 740px;
  height: 500px;
  left: -475px;
}

.healing-process-information img {
  position: absolute;
  top: 0.5vw;
  left: 53vw;
}

.a1 {
  position: absolute;
  color: black;
  text-decoration: none;
  left: 150px;
  top: 70px;
  font-size: 30px;
  font-weight: 700;
}

.a2 {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 70px;
  left: 350px;
  font-size: 30px;
  font-weight: 700;
}

.a3 {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 70px;
  left: 1050px;
  font-size: 30px;
  font-weight: 700;
}

.a4 {
  position: absolute;
  color: black;
  text-decoration: none;
  top: 70px;
  left: 1250px;
  font-size: 30px;
  font-weight: 700;
}


.who-can-benefit-information .learn-more-button{
  position: absolute;
  top: 43%;
  left: 43%;
  background-color: #0f0f0f;
  color: white;
  height: 100px;
  width: 200px;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.who-can-benefit-information .learn-more-button:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.who-can-benefit-information .learn-more-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.who-can-benefit-information .learn-more-button:active {
  background-color: #baa94a;
}


.healing-process-information .learn-more-button{
  position: absolute;
  top: 43%;
  left: 43%;
  background-color: #0f0f0f;
  color: white;
  height: 100px;
  width: 200px;
  font-size: 25px;
  font-family: times, serif;
  z-index: 1;
}

.healing-process-information .learn-more-button:hover {
  background-color: #c1b46c;
  transition: 0.7s;
}

.healing-process-information .learn-more-button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px black;
  transition: 0.9s;
}

.healing-process-information .learn-more-button:active {
  background-color: #baa94a;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: hidden;
  width: 104vw;
  height: 500px;
  top: 6vw;
  right: 30vw;
  position: relative;
  scroll-snap-type: x mandatory;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: relative;
  top: -2900px;
  left: 600px;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  cursor: pointer;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a.active {
  background-color: #333;
}

.google-map {
  position: relative;
  top: 103vw;
}

