/* Global styles */
body {
    background-color: #373434;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

select {
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 5px;
}

select:focus {
    outline: none;
    border-color: #5b9bd5;
}

.booking-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    padding: 20px;
    overflow: auto;
    position: relative;
    top: 130px;
}

/* Booking container styles */
.booking-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    box-sizing: border-box;
}

/* Centering the "Book Now" text */
h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
}

/* Centering the "Choose a Time Slot" text */
h3 {
    font-size: 22px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Form group styling */
.form-group {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
    font-size: 16px;
}

.no-slots-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #333;
    position: absolute;
    top: 230px;
    left: 0;
}


/* Input field styling */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: #ffffff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select:focus {
    outline: none;
    border-color: #5b9bd5;
}

/* Select styling */
select {
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* Container for slot items */
.time-slots-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media screen and (max-width: 768px) and (min-width: 500px){
    .time-slots-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 499px) {
    .time-slots-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Slot item styling */
.slot-item {
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-sizing: border-box;
}

.slot-item:hover {
    background-color: #b2ebf2;
    transform: scale(1.02);
}

.slot-item.selected {
    background-color: #f8f6b5;
}

.slot-item p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
    margin-top: 20px;
}

.select-button {
    background-color: #1de9b6;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.select-button:hover {
    background-color: #00e5ff;
    transform: scale(1.05);
}


.select-button:active {
    background-color: #00bcd4;
    transform: scale(0.95);
}

.time-slots-hr {
    border: 0 !important;
    border-top: 1px solid #c5c5c5 !important;
    width: 100%;
    margin: 10px 0;
}


button[type="submit"] {
    width: auto;
    padding: 14px;
    background-color: #1a73e8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0f5dc1;
}

/* Message styling */
#message {
    margin-top: 20px;
    text-align: center;
    color: #1a73e8;
    font-size: 16px;
}

/* Popup styling */
.popup {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px 0 0 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: width 0.3s ease, box-shadow 0.3s ease;
}

.popup:hover {
    width: 200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.popup:hover .popup-content {
    opacity: 1;
}

/* Social icons styling */
.social-icons a {
    margin: 15px 0;
    display: block;
}

.social-icons i {
    font-size: 26px;
    color: #2d3748;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.15);
    color: #3182ce;
}

/* Footer Section */
.contact-me-container-book-appointment {
    position: relative;
    top: 12rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/microblading-footer.jpg") no-repeat center center;
    background-size: cover;
    background-position: 70%;
    height: 40rem;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.contact-me-container-book-appointment h1 {
    position: relative;
    top: 5rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}

.contact-me-container-book-appointment p {
    position: relative;
    top: 10rem;
    font-size: 1.2rem;
    max-width: 1000px;
    margin: 1rem auto;
    line-height: 1.6;
}

.contact-me-container-book-appointment hr {
    border: 0;
    border-top: 1px solid #c2a76b;
    margin: 2rem auto;
    width: 80%;
}

.contact-me-container-book-appointment .social-media-book-appointment {
    position: absolute;
    margin: 0 auto;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-me-container-book-appointment .social-media-book-appointment a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contact-me-container-book-appointment .social-media-book-appointment a:hover {
    color: #c2a76b;
}

.contact-button-footer-book-appointment {
    position: relative;
    margin-top: 0.5rem;
    left: 50%;
    transform: translate(-51%, -155%);
    background-color: #0f0f0f;
    color: white;
    height: 5rem;
    width: 12rem;
    font-size: 16px;
    font-family: times, serif;
    z-index: 1;
    padding: 0.5rem 1rem;
}

.contact-me-container-book-appointment hr {
    margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
    .contact-me-container-book-appointment .social-media-book-appointment {
        margin-top: 4rem;
    }
}

.contact-button-footer-book-appointment:hover {
    background-color: #c1b46c;
    transition: 0.7s;
}

.contact-button-footer-book-appointment:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px black;
    transition: 0.9s;
}

.contact-button-footer-book-appointment:active {
    background-color: #baa94a;
}

footer p {
    position: relative;
    color: white;
    top: 154px;
    font-size: 14px;
    text-align: right;
}

@media screen and (min-width: 769px) and (max-width: 870px) {
    .navbar-menu a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    /* Adjusted styles for the dropdown menu on small screens */
    .navbar .icon {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .navbar-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #404040;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 1rem 0;
        border-radius: 8px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbar-menu.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-menu a {
        display: block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .navbar-menu a:hover {
        background-color: #575757;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }

    .navbar-menu a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    /* Adjusted styles for the dropdown menu on small screens */
    .navbar .icon {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .navbar-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #404040;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 1rem 0;
        border-radius: 8px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbar-menu.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-menu a {
        display: block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .navbar-menu a:hover {
        background-color: #575757;
    }

    .book-appointment p {
        align-items: center;
        text-align: center;
    }

    .contact-me-container-book-appointment h1 {
        font-size: 1.8rem;
        top: -1rem;
    }

    .contact-me-container-book-appointment p {
        font-size: 0.9rem;
        top: -1rem;
    }

    .contact-me-container-book-appointment hr {
        position: relative;
        top: -1rem;
    }

    .contact-me-container-book-appointment .social-media-book-appointment {
        top: 19.5rem;
    }

    footer p {
        top: 9.4rem;
    }

    .contact-button-footer-book-appointment {
        position: relative;
        margin-top: 2rem;
        left: 50%;
        transform: translate(-51%, -160%);
        height: 4rem;
        width: 10rem;
    }

    /* adjust background size */
    .contact-me-container-book-appointment{
        height: 26rem;
    }
}
