/* Global styles */
body {
    background-color: #373434;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: calc(40vh - 130px);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 130px;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}
.form-group button.cancel {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #dc3545;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    top: 30px;
    width: 100%;
}

.form-group button:hover {
    opacity: 0.9;
}
.message {
    margin-top: 20px;
}

/* Footer Section */
.contact-me-container-modify-appointment {
    position: relative;
    top: 12rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/microblading-footer.jpg") no-repeat center center;
    background-size: cover;
    background-position: 70%;
    height: 40rem;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.contact-me-container-modify-appointment h1 {
    position: relative;
    top: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.contact-me-container-modify-appointment p {
    position: relative;
    top: 10rem;
    font-size: 1.2rem;
    max-width: 1000px;
    margin: 1rem auto;
    line-height: 1.6;
}

.contact-me-container-modify-appointment hr {
    border: 0;
    border-top: 1px solid #c2a76b;
    margin: 2rem auto;
    width: 80%;
}

.contact-me-container-modify-appointment .social-media-modify-appointment {
    position: absolute;
    margin: 0 auto;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-me-container-modify-appointment .social-media-modify-appointment a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.contact-me-container-modify-appointment .social-media-modify-appointment a:hover {
    color: #c2a76b;
}

.contact-button-footer-modify-appointment {
    position: relative;
    margin-top: 0.5rem; /* Adjust as needed to raise the button */
    left: 50%;
    transform: translate(-51%, -155%);
    background-color: #0f0f0f;
    color: white;
    height: 5rem;
    width: 12rem;
    font-size: 16px;
    font-family: times, serif;
    z-index: 1;
    padding: 0.5rem 1rem;
}


.contact-me-container-modify-appointment hr {
    margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
    .contact-me-container-modify-appointment .social-media-modify-appointment {
        margin-top: 4rem; /* Increase margin to push down social icons */
    }
}

.contact-button-footer-modify-appointment:hover {
    background-color: #c1b46c;
    transition: 0.7s;
}

.contact-button-footer-modify-appointment:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px black;
    transition: 0.9s;
}

.contact-button-footer-modify-appointment:active {
    background-color: #baa94a;
}

footer p {
    position: relative;
    color: white;
    top: 154px;
    font-size: 14px;
    text-align: right; /* Align text to the right */
}

@media screen and (min-width: 769px) and (max-width: 870px) {
    .navbar-menu a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    /* Adjusted styles for the dropdown menu on small screens */
    .navbar .icon {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .navbar-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #404040;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 1rem 0;
        border-radius: 8px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbar-menu.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-menu a {
        display: block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .navbar-menu a:hover {
        background-color: #575757;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }

    .navbar-menu a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    /* Adjusted styles for the dropdown menu on small screens */
    .navbar .icon {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .navbar-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #404040;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 1rem 0;
        border-radius: 8px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .navbar-menu.active {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-menu a {
        display: block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .navbar-menu a:hover {
        background-color: #575757;
    }

    .modify-appointment p {
        align-items: center;
        text-align: center;
    }

    .contact-me-container-modify-appointment h1 {
        font-size: 1.8rem;
        top: -1rem;
    }

    .contact-me-container-modify-appointment p {
        font-size: 0.9rem;
        top: -1rem;
    }

    .contact-me-container-modify-appointment hr {
        position: relative;
        top: -1rem;
    }

    .contact-me-container-modify-appointment .social-media-modify-appointment {
        top: 19.5rem;
    }

    footer p {
        top: 9.4rem;
    }

    .contact-button-footer-modify-appointment {
        position: relative;
        margin-top: 2rem; /* Adjust as needed to raise the button */
        left: 50%;
        transform: translate(-51%, -160%);
        height: 4rem;
        width: 10rem;
    }

    /* adjust background size */
    .contact-me-container-modify-appointment{
        height: 25rem;
    }
}